{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<div {{ vue_component('Home', {recentListings: recentListings} ) }}></div>
	<div class="max-w-6xl mx-auto pt-4 space-y-6">
		{% if offerListings|length > 0 %}
			<div class="m-2 mb-6">
				<h2 class="px-3 text-2xl mt-6 font-semibold">Recent offers</h2>
				<a href="#">
					<p class="px-3 text-sm text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out">
						Show more offers
					</p>
				</a>
				<ul class="sm:grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ">
					{% for listing in offerListings %}
						<div {{ vue_component('ListingItem', {listing: listing.toArray()} ) }}></div>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if rentListings|length > 0 %}
			<div class="m-2 mb-6">
				<h2 class="px-3 text-2xl mt-6 font-semibold">Places for rent</h2>
				<a href="#">
					<p class="px-3 text-sm text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out">
						Show more places for rent
					</p>
				</a>
				<ul class="sm:grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ">
					{% for listing in rentListings %}
						<div {{ vue_component('ListingItem', {listing: listing.toArray()} ) }}></div>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if saleListings|length > 0 %}
			<div class="m-2 mb-6">
				<h2 class="px-3 text-2xl mt-6 font-semibold">Places for sale</h2>
				<a href="#">
					<p class="px-3 text-sm text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out">
						Show more places for sale
					</p>
				</a>
				<ul class="sm:grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ">
					{% for listing in saleListings %}
						<div {{ vue_component('ListingItem', {listing: listing.toArray()} ) }}></div>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

	</div>
{% endblock %}
