{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
	<div class="p-8 max-w-md mx-auto bg-white rounded-lg shadow-md">
		<p class="mb-4">
			If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
			        This link will expire in
			<span class="font-bold">{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</span>.
		</p>
		<p class="mb-4">
			If you don't receive an email please check your spam folder or
			<a href="{{ path('app_forgot_password_request') }}" class="text-blue-500 hover:underline">try again</a>.
		</p>
	</div>

{% endblock %}
